
* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

input[type=text] {
    font-size: 16px;
    padding: 10px;
    margin: 0;
    width: 650px;
    border-radius: 8px;
    border: 1px solid #808080;
}

input[type=submit] {
    font-size: 16px;
    padding: 10px;
    margin: 0 0 0 10px;
    width: 140px;
    border-radius: 8px;
    border: 1px solid #808080;
}

#page {
    display: block;
    margin: 0 auto 0 auto;
    width: 800px;
    xbackground-color: red;
}

#list {
    display: block;
    width: 100%;
    margin-top: 40px;
}

@keyframes slide {
    from {
        opacity: 0%;
        left: -100px;
    }
    to {
        opacity: 100%;
        left: 0px;
    }
}

.result {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #ffffff;
    opacity: 0%;
    animation-name: slide;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.17,.67,.56,1.46);
    animation-fill-mode: forwards;
}
.result:nth-child(2n+1) {
    background-color: #f0f0f0;
}
.result:hover {
    background-color: #e0e0e0;
}

.field {
    width: 50%;
    margin: 0;
    padding: 0;
    display: inline-block;
}
